body{
	background-color: #000000;
	font-family: 'Frutiger45Light', helvetica, arial;
}
#main-text {
}
#main-text span {
	/*font-weight:600;*/
	color:#FF0000;
}
#main-text span:hover {
	color:#FF0000;
	cursor:pointer;
}
#main-text span span:hover {
	color:#FF0000;
	cursor:pointer;
}
.middle-align{
	text-align: center;
	padding-top: 9px;
}
.bigger {
	font-size: 20px;
}
.middle-align span{
	display: block;
	margin-bottom: 10px;
}
h2 {
	padding:0;
	margin:0;
	font-size: 24px;
	font-weight: normal;
}
h3 {
	padding:0;
	margin:0;
	font-size: 20px;
	font-weight: normal;
}
a {
	text-decoration: none;
	color:#FF0000;
}
a:hover {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
.red {
	color:#FF0000;
}
.profile_image {
	width: auto;
  	height : auto;
  	max-height: 100%;
  	max-width: 100%;
}
@font-face {
    font-family: 'Frutiger45Light';
    src: url('../font/frutiger-light.eot');
    src: url('../font/frutiger-light.eot') format('embedded-opentype'),
         url('../font/frutiger-light.woff') format('woff'),
         url('../font/frutiger-light.ttf') format('truetype'),
         url('../font/frutiger-light.svg#Frutiger45Light') format('svg');
}

/*@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../font/helveticaneueltstd-ltex.eot');
    src: url('../font/helveticaneueltstd-ltex.eot') format('embedded-opentype'),
         url('../font/helveticaneueltstd-ltex.woff') format('woff'),
         url('../font/helveticaneueltstd-ltex.ttf') format('truetype'),
         url('../font/helveticaneueltstd-ltex.svg#HelveticaNeueLTStd43LightExtended') format('svg');
}

@font-face {
    font-family: 'Frutiger55Roman';
    src: url('../font/frutiger-roman.eot');
    src: url('../font/frutiger-roman.eot') format('embedded-opentype'),
         url('../font/frutiger-roman.woff') format('woff'),
         url('../font/frutiger-roman.ttf') format('truetype'),
         url('../font/frutiger-roman.svg#Frutiger55Roman') format('svg');
}
@font-face {
    font-family: 'UniversLT45LightRegular';
    src: url('../font/universlt45light.eot');
    src: url('../font/universlt45light.eot') format('embedded-opentype'),
         url('../font/universlt45light.woff') format('woff'),
         url('../font/universlt45light.ttf') format('truetype'),
         url('../font/universlt45light.svg#UniversLT45LightRegular') format('svg');
}*/

