.carousel {
  --headerHeight: 81px;
  --largeText: 1.04em;
  --paddingLeft: 2.4rem;
  --padding: 0.8rem var(--paddingLeft);
  --gap: 5.2rem;
  position: relative;
  width: 100vw;
  height: calc(100lvh - var(--headerHeight));
  overflow: hidden;
  background: black;
}

.carousel-slide {
  --scale: 1.12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
  z-index: 0;
  transform: scale(var(--scale));
  transition:
    opacity 0.5s ease-in-out,
    transform 8s linear;
}

.carousel-slide.active {
  opacity: 1;
  z-index: 0;
  transform: scale(var(--scale));
}

.carousel-slide.active.start {
  opacity: 0;
  transition: none;
  transform: scale(1);
}

.carousel-slide.active.start.init {
  opacity: 1;
}

.carousel-text-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  margin-top: 11lvh;
}

.carousel-text-container {
  position: relative;
  width: 100%;
  color: var(--primaryColor);
  margin-left: calc(var(--paddingLeft) * -1);
}

.carousel-text-inner {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.carousel-text-inner.active {
  opacity: 1;
}

.carousel-text-layer {
  --delay: 0s;
  --transitionTime: 0.6s;
  --transitionBezier: cubic-bezier(0.2, 0.01, 0.39, 0.99);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

.carousel-text-layer.active {
  user-select: auto;
  pointer-events: auto;
}

.carousel-field {
  display: block;
  width: min-content;
  max-width: 100%;
  transition: transform var(--transitionTime) var(--transitionBezier);
  transform: translateX(100%);
  overflow: hidden;
}

.carousel-field > div {
  background: var(--secondaryColor);
  transition:
    transform var(--transitionTime) var(--transitionBezier),
    opacity 0s linear var(--transitionTime);
  transform: translateX(-100%);
  padding: var(--padding);
  opacity: 0;
  width: max-content;
  box-sizing: content-box;
}

.active.start .carousel-field {
  transition: none;
  transform: translateX(-100%);
}

.active.start .carousel-field > div {
  opacity: 0;
  transition: none;
  transform: translateX(100%);
}

.active .carousel-field {
  transition: transform var(--transitionTime) var(--transitionBezier) var(--delay);
  transform: translateX(0%);
}

.active .carousel-field > div {
  transition:
    transform var(--transitionTime) var(--transitionBezier) var(--delay),
    opacity 0s linear var(--delay);
  transform: translateX(0%);
  opacity: 1;
}

.carousel-cta-button {
  --delay: 0s;
  --fadeTime: 0.5s;
  opacity: 0;
  transition: opacity var(--fadeTime) var(--transitionBezier);
}

.active.start .carousel-cta-button {
  transition: none;
  opacity: 0;
}

.active .carousel-cta-button {
  --fadeTime: 1.6s;
  opacity: 1;
  transition: opacity var(--fadeTime) var(--transitionBezier) var(--delay);
}

.carousel-button {
  padding: var(--padding);
  font-size: 1.18rem;
}

.carousel-indicators {
  position: absolute;
  bottom: 1.34rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.65rem;
  z-index: 2;
}

.carousel-indicator {
  width: 0.84rem;
  height: 0.84rem;
  background-color: var(--secondaryColor);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: var(--primaryColor);
}

.carousel-title-wrap {
  font-size: 3.3rem;
  font-weight: 200;
  line-height: 1.32;
}

.carousel-field:has(.carousel-texttitle) {
  margin-bottom: var(--gap);
}

/* .carousel-field:has(.carousel-description) {
  margin-bottom: calc(0.2 * var(--gap));
} */

.carousel-title {
  color: var(--fontColor);
}

.carousel-texttitle {
  margin-top: -1rem;
}

.carousel-description {
  color: var(--fontColor);
  font-size: var(--largeText);
}

/*
*
*   Mouse Scroll Animation
*
*/

.carousel-mouse {
  position: absolute;
  width: 22px;
  height: 42px;
  bottom: 40px;
  left: 50%;
  margin-left: -12px;
  border-radius: 15px;
  border: 2px solid var(--secondaryColor);
  animation: intro 1s backwards;
  animation-delay: 4s;
}

.carousel-mouse-scroll {
  display: block;
  width: 3px;
  height: 3px;
  margin: 6px auto;
  border-radius: 4px;
  background: var(--secondaryColor);
  animation: finger 4.8s infinite;
  animation-delay: 4.8s;
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes finger {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
