/* TODO: define primary red color better */

:root {
  --primaryColor: rgba(237, 34, 36, var(--tw-text-opacity, 1));
  --secondaryColor: white;
  --transitionTime: 0.65s;
  --transitionIn: transform calc(var(--transitionTime) * 0.8) cubic-bezier(0.2, 0.01, 0.39, 0.99);
  --colorIn: color calc(var(--transitionTime) * 0.8) cubic-bezier(0.2, 0.01, 0.39, 0.99);
  --colorOut: color calc(var(--transitionTime) * 0.7) cubic-bezier(0.2, 0.01, 0.39, 0.99);
  --hoverRotation: -45deg;
}

.anim-button {
  --width: 200px;
  --height: 200px;
  --color: var(--secondaryColor);
  border: 1px solid var(--primaryColor);
  position: relative;
  overflow: hidden;
}

.anim-button-top {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--width);
  height: var(--height);
  transition: var(--transitionIn);
  transform: translate(-50%, -50%) rotate(var(--hoverRotation));
  overflow: hidden;
  background: var(--primaryColor);
}

.anim-button-top-slider {
  color: var(--secondaryColor);
  transition: var(--transitionIn);
  transform: rotate(calc(-1 * var(--hoverRotation)));
}

.anim-button-text {
  position: relative;
  z-index: 1;
  color: var(--color);
  transition: var(--colorOut);
}

.anim-button:hover,
.anim-button.open {
  --color: var(--primaryColor);
}

.anim-button:hover .anim-button-text {
  transition: var(--colorIn);
}

.anim-button:hover .anim-button-top,
.anim-button.open .anim-button-top {
  transform: rotate(var(--hoverRotation)) translateY(50%);
}
